.likeActive {
    transition: .5s;
  }
  .likeDisabled {
    transition: .5s;
    color: #52154e !important;
  }
  .likeActive svg{
    width: 20px;
    height: 15px;
  }
  .likeDisabled svg{
    transition: .5s;
    animation: likeAnimation 1s ;
    width: 20px;
    height: 15px;
  }
  .likeDisabled svg path {
    fill: #52154e ;
  }

  @keyframes likeAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5) rotate(15deg);
    }
  }