.navbarItem p{
    color: black;
    font-size: 100px;
}
.modal {
    background-color: black;
}
.searchNames {
    display: flex;
    align-items: center;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
  }
  .searchButton {
      width: 300px;
      height: 40px;
      border-radius: 20px;
      border: none;
      text-align: left;
      padding-left: 20px;
      background:#fbf3f3 url("https://res.cloudinary.com/nucat/image/upload/v1641976033/icons8-search-50_blcvl4.png") no-repeat 90% 50%;
      background-size: 8%;
      color: #111344;
      cursor: text;
  }
  .navbarDiv {
      display: flex;
      align-items: center;
  }
  .searchInput {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: left;
    padding-left: 20px;
    background:#fbf3f3 url("https://res.cloudinary.com/nucat/image/upload/v1641976033/icons8-search-50_blcvl4.png") no-repeat 90% 50%;
    background-size: 8%;
    color: #111344;
    margin-left: 10px;

  }
  .searchInput:focus {
    outline: none;
  }
  .returnBox {
    margin: 0;
    background: #e7ddda;
    width: 350px;
    padding: 1%;
    border-radius: 20px;
    min-height: 400px;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    position: fixed;
    top: -8px;
    margin-left: -18px;
  }
  @keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    -webkit-box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
    -moz-box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
    box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
  }
  1% {
    transform: scale(0.96) translateY(6px);
    opacity: 0;
    -webkit-box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
    -moz-box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
    box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    -webkit-box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
    -moz-box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
    box-shadow: 0px 15px 32px -14px rgba(82, 21, 78, 1);
  }
}

.searchInput::placeholder {
    font-family: "Proza Libre", sans-serif;
}

.returnBoxBlur {
    -webkit-animation: anvil-reverse 0.5s  forwards;
    animation: anvil-reverse 0.5s  forwards;

}
@keyframes anvil-reverse {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform:translateX(6px);
    }
    100% {
      transform: translateX(0px);
        
    }
  }
