@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.postForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 100%;
  padding: 2%;
}

.singlePost {
  background-color: #e7ddda;
  padding: 20px;
  margin: 0.3%;
  width: 600px;
  border-radius: 20px;
  padding-top: 0;
  box-shadow: 0 0px 0px 1px #52154e;
}

.singlePost h4,
.singlePost .date {
  font-family: "Proza Libre", sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.432);
}
.date {
  margin-top: -15px;
  font-weight: 600;
}
.singlePost p {
  font-family: "Proza Libre", sans-serif;
  font-size: 17px;
  color: black;
}

.singlePost img {
  width: 600px;
  margin-left: -20px;
}

.popupDiv button {
  color: black;
  text-align: left;
  padding-left: 25px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  transition: 0.2s;
}
.popupDiv button:hover {
  background-color: #d7c6c1 !important;
  transition: 0.2s;
}
.popupDiv {
  background-color: #e7ddda;
  height: 100px;
  width: 600px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0px 0px 1px #52154e;
}
.postHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
