

.avatarDiv input button {
    background-color: black;
}

.avatarDiv input[type="file"] {
    display: none;
}
.avatarDiv label {
    cursor: pointer;
    border: black solid 2px;
    border-radius: 100%;
    background-size: cover;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.avatarDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatarDiv label img {
    width: 150px;
    height: 150px;
}