@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  font-family: "Rambla", sans-serif;
  font-size: 60px;
  color: #111344;
  margin: 0;
}
.container p {
  font-family: "Rambla", sans-serif;
  font-size: 20px;
  color: #111344a9;
  font-weight: 700;
}
.container span {
  color: #a22a9a;
}
.container input {
  height: 60px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #52154e;
  color: #111344;
  font-family: "Nunito", sans-serif;
}
.container input:placeholder-shown + label {
  transform: translate(0, 3.15rem) scale(1.5);
  margin-left: 20px;
  font-family: "Nunito", sans-serif;
  color: #111344;
}

.container input:focus + label {
  transform: translate(0, 0) scale(1);
  color: #111344;
}
.container label {
  font-family: "Nunito", sans-serif;
  color: #111344;
}


.container input::placeholder {
  font-family: "Nunito", sans-serif;
  color: #2124839d;
}

.container input[type="date"] {
  font-size: 24px;
  padding-left: 20px;
  font-family: "Nunito", sans-serif;
  color: #111344;
  text-transform: uppercase;
}


.container input[type="checkbox"]:before {
  margin-left: 15px;
  background-color: #e7ddda;
  border: solid 1px #52154e;
}
.container input[type="checkbox"]:after {
  border-color: #111344;
  margin-left: 15px;
}

.container div:nth-child(5) {
  flex-direction: row;
}
.container div:nth-child(5) input {
  background: transparent;
  border: none;
}
.container div:nth-child(5) input:focus {
  background: transparent;
  border: none;
  box-shadow: none;
}

.container input:focus {
  background-color: #d7c6c1;
  border: solid 2px #52154e;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 21, 78, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 21, 78, 1);
  box-shadow: 0px 0px 10px 0px rgba(82, 21, 78, 1);
  color: #111344;
}

.container button:nth-child(2) {
  font-family: "Nunito", sans-serif;
  color: #efe9e7;
  font-size: 18px;
  -webkit-box-shadow: 1px 24px 100px -10px #52154e;
  -moz-box-shadow: 1px 24px 100px -10px rgba(82, 21, 78, 1);
  box-shadow: 1px 24px 100px -10px rgba(82, 21, 78, 1);
}
.container div button {
  font-family: "Nunito", sans-serif;
  color: #efe9e7;
  font-size: 18px;
}

/* Dark theme*/

[data-theme="dark"] .container h1 {
  color: #8797af;
}
[data-theme="dark"] .container input[type="checkbox"]:before {
  background-color: #a7adc6;
}

[data-theme="dark"] .container p,
[data-theme="dark"] .container input:focus + label,
[data-theme="dark"] .container label {
  color: #8797afb0;
}
